@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-default:#191919;
  --custom-950: #ff8269;
}

@layer base {
  body {
    @apply overflow-hidden leading-relaxed tracking-wider;
    background: var(--bg-default);
  }
  html {
    @apply scroll-smooth scrollbar-hide;
    -webkit-tap-highlight-color: transparent;
  }
}

@layer components {
  .container {
    @apply sm:max-w-[768px] md:max-w-[1440px] px-4;
  }
}

@layer utilities{
  .bg-gradient-model{
    background: linear-gradient(
      45deg, 
      #1b1a1a, 
      #080808
    );
  }

  .bg-gradient{
    background: linear-gradient(
      283deg, 
      rgba(28,29,26,0.9149159663865546) 0%, 
      rgba(41,42,39,0.9401260504201681) 100%
    );
  }

  .bg-gradient-card {
    background: linear-gradient(
      180deg, 
      rgba(25,25,25,0) 42%, 
      rgba(255,62,72,0.5339635854341737) 100%
    );
  }
}


