@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-default:#191919;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width: 0;
}

::-webkit-scrollbar-track{
  background: transparent;
}

::-webkit-scrollbar-thumb{
  background: transparent;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
}

ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

html{
  @media(max-width:1080px){
      font-size:93.75%;
  }

  @media(max-width:720px){
      font-size:87.5%;
  }

  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body{
  background: var(--bg-default);
}

#__next,
body {
  @apply h-full;
}

@layer base {
  body {
    @apply overflow-hidden leading-relaxed;
  }
}

@layer components {
  .container {
    @apply sm:max-w-[768px] md:max-w-[1440px] px-4;
  }
}

@layer utilities{
  .bg-gradient-model{
    background: linear-gradient(
      45deg, 
      #1b1a1a, 
      #080808
    );
  }

  .bg-gradient{
    background: linear-gradient(
      283deg, 
      rgba(28,29,26,0.9149159663865546) 0%, 
      rgba(41,42,39,0.9401260504201681) 100%
    );
  }

  .bg-gradient-card {
    background: linear-gradient(180deg, rgba(25,25,25,0) 42%, rgba(255,62,72,0.5339635854341737) 100%);
     }
}


