@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-mobile-one: #2b161cef;
  --background-mobile-two: #111211F2;

  --background-white:#ffffff; 
  --background-primary:#f9004d; 
  --background-secundary:#191919; 
  --background-third:#101010; 
  --background-shadow:#00000041; 
  --background-black:#000000; 
  --background-modal-shadow:#000000CC; 

  --text-white:#ffffff; 
  --text-description:#929d8d;
  --text-primary:#f9004d; 
  --text-secondary:#ef0a5e;
  --text-third:#f61b12;

  --border-primary:#f9004d; 

  --max-width: 1100px
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width: 3px;
}

::-webkit-scrollbar-track{
  /* background-color: var(--background-secondary); */
  background: transparent;
}

::-webkit-scrollbar-thumb{
  /* background: var(--background-primary); */
  background: transparent;
}

h1, h2, h3, h4, p{
  margin: 0;
  padding: 0;
}

ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

html{
  @media(max-width:1080px){
      font-size:93.75%;
  }

  @media(max-width:720px){
      font-size:87.5%;
  }

  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body{
  background: var(--background-secundary);
}

#__next,
body {
  @apply h-full;
}

@layer components {
  .container {
    @apply sm:max-w-[768px] md:max-w-[1440px] px-4 py-10 md:px-20;
  }
}

@layer utilities{
  .bg-gradient-model{
    background: linear-gradient(
      45deg, 
      #1b1a1a, 
      #080808
    );
  }

  .bg-gradient{
    background: linear-gradient(
      283deg, 
      rgba(28,29,26,0.9149159663865546) 0%, 
      rgba(41,42,39,0.9401260504201681) 100%
    );
    }
}